<div  class="col-xs-9" style=" border-width: 0px;">

<div class="graph-container" style="height:500px"></div>

</div>

<div  class="col-xs-3" style=" border-width: 0px;">

<div class="graph-tooltip" style="height:500px"></div>

</div>

<style>

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.link.twofive {
  opacity: 0.25;
}

path.link.fivezero {
  opacity: 0.50;
}

path.link.sevenfive {
  opacity: 0.75;
}

path.link.onezerozero {
  opacity: 1.0;
}

circle {
  fill: #ccc;
  stroke: #fff;
  stroke: black;
  stroke-width: 1.5px;
}

text {
  fill: #000;
  font: 10px sans-serif;
  pointer-events: none;
    font-weight: bold;
}
    
#legend-text {
  font-size: 14px;
  font-weight: bold;
}
    
#legend-box {
  stroke: black;
}

</style>

<script>

<!-- DATA HANDLING STARTS HERE --> 
    
var currentstate = "AL";
    
if (typeof(String(window.location.href).split("?")[1]) != "undefined") {
    currentstate = String(window.location.href).split("?")[1].split("=")[1];
}
    
CALinks = [];
    
d3.csv("../Most+Recent+Cohorts+(Scorecard+Elements).csv", function(error, data) {
      
    console.log(data);
      
    var cities = [];
    
    var univdata = [];
    
    var univlist = [];
      
    for (i = 0; i < data.length; i++) {
        
        if (data[i].STABBR == currentstate) {
            
            if (data[i].NPT4_PUB == "NULL") {
                
                CALinks.push({

                    "source": data[i].CITY,
                    "target": data[i].INSTNM,
                    "value": data[i].NPT4_PRIV

                });
                
                univdata.push([

                    data[i].INSTNM,
                    "Type: Private",
                    "Average Yearly Cost: $" + data[i].NPT4_PRIV

                ])    
 
            } else {
                
                CALinks.push({

                    "source": data[i].CITY,
                    "target": data[i].INSTNM,
                    "value": data[i].NPT4_PUB

                });    
                
                univdata.push([

                    data[i].INSTNM,
                    "Type: Public",
                    "Average Yearly Cost: $" + data[i].NPT4_PUB

                ])    
                
            }
            
            cities.push(data[i].CITY);   
        
            univlist.push(data[i].INSTNM)   
                     
        }
    };
    
   
        
    
    var uniquecity = cities.filter((v, i, a) => a.indexOf(v) === i); 

    console.log(univdata);
    
    console.log(uniquecity.length);
    
    console.log(cities.length);
    
      for (i = 0; i < uniquecity.length; i++) {

            citysum =[];
          
            count = 0;

            for (j = 0; j < cities.length; j++) {

                if ( cities[j] == uniquecity[i] ) {

                    citysum = citysum + CALinks[j].value;
                    
                    count = count + 1;

                }

            }

            CALinks.push({

                "source": currentstate,
                "target": uniquecity[i],
                "value": citysum/count

            })    

        };
    
    
links = CALinks;

console.log(links);    
    
var nodes = {};

// Compute the distinct nodes from the links.
links.forEach(function(link) {
    link.source = nodes[link.source] ||
        (nodes[link.source] = {name: link.source});
    link.target = nodes[link.target] ||
        (nodes[link.target] = {name: link.target});
});

<!-- DATA HANDLING ENDS HERE --> 

var $container = $('.graph-container'),
        width = $container.width(),
        height = $container.height(),
    color = d3.scale.category20c();


var force = d3.layout.force()
    .nodes(d3.values(nodes))
    .links(links)
    .size([width, height])
    .linkDistance(50)
    .charge(-600)
    .on("tick", tick)
    .start();

// Set the range
var  v = d3.scale.linear().range([0, 100]);

// Scale the range of the data
v.domain([0, d3.max(links, function(d) { return d.value; })]); 

var svg = d3.select(".graph-container").append("svg")
    .attr("width", '100%')
    .attr("height", '100%');

// build the arrow.
svg.append("svg:defs").selectAll("marker")
    .data(["end"])      // Different link/path types can be defined here
  .enter().append("svg:marker")    // This section adds in the arrows
    .attr("id", String)
    .attr('viewBox','0 0 '+Math.min(width,height) +' '+Math.min(width,height) )
	.attr("transform", "translate(" + Math.min(width,height) / 2 + "," + Math.min(width,height) / 2 + ")")
    .attr("refX", 15)
    .attr("refY", -1.5)
    .attr("markerWidth", 6)
    .attr("markerHeight", 6)
    .attr("orient", "auto")
  .append("svg:path")
    .attr("d", "M0,-5L10,0L0,5");

// add the links and the arrows
var path = svg.append("svg:g").selectAll("path")
    .data(force.links())
  .enter().append("svg:path")
    .attr("class", function(d) { return "link " + d.type; })
	// Add Color -- Ahmet
	.style("stroke", function(d) {
        
        
		if (d.source.name == currentstate) {
			return "#FF0000";
		} else {
			return "#FF00FF";
		}
	});

// define the nodes
var node = svg.selectAll(".node")
    .data(force.nodes())
	.enter().append("g")
    .attr("class", "node")
    .call(force.drag)
	// Pinning Nodes -- Ahmet
	.on("dblclick", function(d) { 
		if (d.fixed == 1) {
			d.fixed = 0;
		} else {
			d.fixed = 1;
		}		
	} );

// Add Text -- Ahmet
node.append("text")
      .attr("dx", function(d) { return 3 + 5*Math.sqrt(d.weight) })
      .text(function(d) { return d.name });

	
    
var currentcol = [];    
// add the nodes
node.append("circle")
	// Adaptive Radius -- Ahmet
    .attr("r",  function(d) { return 5*Math.sqrt(d.weight)  })
	.style("fill", function(d){
     

        if (d.name == currentstate) {
                return "#000000";
            } else if  (String(uniquecity).includes(d.name)){
                return "#FF0000";
            } else {
                return "#FF00FF";
            }
    })
    .on("mouseover", function() { 	
        currentcol =  d3.select(this).style("fill");
	   d3.select(this).style("fill", "#00AA00");
	} )
    .on("mouseout", function() { 	
	   d3.select(this).style("fill", currentcol);
	} );
    
 var svg2 = d3.select(".graph-tooltip").append("svg")
    .attr("width", '100%')
    .attr("height", '100%');   
    
var legend = svg2.append("g")
  .attr("id", "legend")
  .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

legend.append("rect")
.attr("x", 0)
  .attr("y", 20)
.attr("width", '100%')
    .attr("height", 100)
    .style('fill',"#FFF")
    .attr("id", "legend-box");
 


legend.append("text")
  .attr("id", "legend-text")
  .attr("x", 10)
  .attr("y", 30)
  .attr("dy", 8)
  .attr("class", "label")
  .style("text-anchor", "start")

legend.select("text").selectAll('tspan')
      .data([1,2,3])    
      .enter()
      .append("tspan")
        .text("")
        .attr("x", 10)
        .attr("dy", 22);

d3.selectAll(".node")              
    .on("mouseover", function(d) { 
    
        if (String(univlist).includes(d.name)){
           
            console.log(this)

            d3.select(this).style('fill',"#00AA00")
                            
            d3.select('#legend').select('text').selectAll('tspan')
                .data(univdata[univlist.indexOf(d.name)]).text(function(d) {return d})
        }

    })
    .on("mouseout", function(d) { 


       

    });


// add the curvy lines
function tick() {
    path.attr("d", function(d) {
        var dx = d.target.x - d.source.x,
            dy = d.target.y - d.source.y,
            dr = Math.sqrt(dx * dx + dy * dy);
        return "M" +
            d.source.x + "," +
            d.source.y + "A" +
            dr + "," + dr + " 0 0,1 " +
            d.target.x + "," +
            d.target.y;
    });

    node
        .attr("transform", function(d) {
		    return "translate(" + d.x + "," + d.y + ")"; });
};

})
      
      
    
</script>